html, body {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

.App {
  text-align: center;
  height: 100%;
}

.wrap {
  height: 100vh;
  display: flex;
}

.side {
  border: 1px solid black;
  /* position: fixed; */
  min-width: 240px;
  background-color: #f57e16
} 

.wall {
  width: 100vw;
  /* position: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #8e0e00, #470101)
}

.t3 {
  /* border: 10px solid pink */
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
